 /*  
.tx{
 width: 150px;
 height: 200px;
 background-color: lightgreen;
 font-size: 10px;
 clip-path: polygon(100% 100%, 80% 0%, 20% 0%,0 100%);}/*右下，右上，左上，左下*/

 div{
     
     position: absolute;
     width: 150px;
     height: 150px;
     border-radius: 100%;
   
  
     
     filter: blur(3px);
 }




   

 